.header {
    background-color: black;
    color:violet;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__one a {
    color:white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    transition: 0.3s;
}

.header__one a:hover{
    color: #f4c542;
}

.hero {
    background-color: #ccc9c9;
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.courses {
    padding: 60px;
}

.courses h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.course-container {
    display: flex;
    gap: 40px;

}
.course-card{
    border: 1px solid;
    padding: 25px;
    width: 380px;
    border-radius: 10px;
    text-align: center;
    transition:0.3s;
    gap: 30px;
}
.course-card:hover{
    transform: translateY(-8px);
} 
.course-card h3{
    margin-bottom: 10px;
}
.course-card button{
    margin-top: 20px;
    padding:10ox 18px;
    border: none;
    color: white;
    background-color: black;
    border-radius:15px;
    cursor: pointer;
    transition: 0.3s;
}
.course-card button:hover{
    background: #f4c542;
    color: black;
}
table{
    border-collapse: collapse;
    width: 80%;
}
.table,th,td{
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}
th{
    background-color: black;
    color: white;
}
