*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
.container{
    padding: 50px;
}
.section-one{
    background-color: black;
    color:white;
    text-align: center;
    padding: 20px 0;
}


.section-one__desc{
   color: gold;
   margin-bottom: 10px;
}
.container{
    text-align: center;
    padding-top:40px;

}
.card{
    display: inline-block;
    width: 300px;
    height: 520px;
    margin: 20px;
    border: 2px solid black;
    background-color: #1d1d1d;
    color: white;
    vertical-align: top;
    text-align: center;
    padding-bottom: 15px;

}
.card img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.card{
    padding: 0 10px;
    margin-bottom: 10px;
}

.card{
    background-color: black;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.card p{
    padding:0 15px;
    min-height: 100px;
    font-size: 18px;
}

.card button{
    background-color: white;
    color: black;
    border: none;
    padding:10px 20px;
    cursor: pointer;
    margin-top: 10px;

}

.card button:hover{
    background-color: orange;
    color: white;
}
.contact{
    background-color: black;
    color: maroon;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.contact table{
    margin: auto;
    color: seagreen;
}

.contact input{
    padding: 5px;
    margin: 5px;
}

.send{
    background-color: yellowgreen;
    color: black;
    border: none;
    padding: 8px 150px;
    font-weight: bold;
}
   



